@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We here at BC's US Rental service aim to provide a service that aims to provide the UK driving community with the ability to drive and experiance vehicles that are not readily available to the UK market. We have a wide vareity of vehicles ranging from US cars (such as the Dodge Charger) to US trucks (such as the Ford F150 Raptor). If you have any questions please do not hesitate to shoot us a message or phone calls. Ways in which you can do this can be found over on our contact page.</p>
