@{
    ViewBag.Title = "Contact BS's US Rental";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    18050 Lakeside Lane<br />
    Houston, TX 77058<br />
    <abbr title="Phone">P:</abbr>
    001-281-841-0635
</address>

<address>
    <strong>Rental Enquiries:</strong>   <a href="mailto:BCEnquires@hotmail.com">BCEnquiries@hotmail.com</a><br />
</address>