@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>BC's US Rental</h1>
    <p class="lead">Here at BC's we aim to provide the UK market with opportunities to drive cars and trucks from overseas.</p>
    <p><a href="https://www.youtube.com/watch?v=P3DPkGSOK7M" class="btn btn-primary btn-lg">Check This Out! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Vehicles and Rentals</h2>
        <p>
            Use this page to check vehicle range and what rentals are booked
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Check Stock", "StockView", "Home")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Stock</h2>
        <p>Use this page to manage the stock we have currently (Add, Maintain, and Delete).</p>
        <p><a class="btn btn-default" @Html.ActionLink("Manage Stock", "CreateVehicle", "Vehicle")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Book a Rental</h2>
        <p>Use this page to arrange a rental based on the stock we have currently.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Book Rental", "BookRentalView", "Home")</a></p>
    </div>
</div>