@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>BC's US Rental</h1>
    <p class="lead">Here at BC's we aim to provide the UK market with opportunities to drive cars and trucks from overseas.</p>
    <p><a href="https://www.youtube.com/watch?v=P3DPkGSOK7M" class="btn btn-primary btn-lg">Check This Out! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Customers</h2>
        <p>
            Use this page to manage customers on the database (Add, Maintain, and Delete).
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Manage Customers", "Index", "Customers")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Vehicles</h2>
        <p>
            Use this page to manage vehicles on the database (Add, Maintain, and Delete).
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Manage Stock", "Index", "Vehicle")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Rentals</h2>
        <p>
            Use this page to manage rentals on the database (Add, Maintain, and Delete).
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Manage Rentals", "Index", "Rental")</a></p>
    </div>
</div>